.main-footer {
    color: rgb(15, 14, 14);
    background-color: #b5b5b5;
    padding-top: 10px;
    /* position: relative;
    bottom: 0;
    width: 100%; */
    /* position: fixed; */
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  